<a href="https://colab.research.google.com/github/TANMAY123484/numpy/blob/main/Multinomial%20logit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving travel_choice_new.csv to travel_choice_new.csv

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("travel_choice_new.csv")

In [ ]:
df.describe()

,ID,sero,uno,Mode,metro,bus,SR,Auto,bike,car,...,FMTTD,LMTTD,site,FMTD_1.1,FMTT_1.1,FMTD_2.1,FMTT_2.1,HH_inc,Inc_1,Inc_2
count,4395.000000,4395.0,4395.0,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000,...,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000,4395.000000
mean,2199.405916,0.0,1.0,6.555631,0.017975,0.231627,0.072127,0.054152,0.249829,0.022298,...,0.004425,0.004243,3.252560,204.798635,4.123549,165.056200,6.465150,7729.237770,0.682139,0.317861
std,1269.435332,0.0,0.0,3.238619,0.132875,0.421920,0.258728,0.226344,0.432963,0.147668,...,0.009681,0.008419,1.746292,414.875564,8.068803,369.483247,40.924045,6789.112272,0.465698,0.465698
min,1.000000,0.0,1.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1100.500000,0.0,1.0,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,3750.000000,0.000000,0.000000
50%,2199.000000,0.0,1.0,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,6250.000000,1.000000,0.000000
75%,3298.500000,0.0,1.0,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006667,0.000000,4.000000,0.000000,0.000000,0.000000,3.000000,10000.000000,1.000000,1.000000
max,4397.000000,0.0,1.0,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.200000,0.100000,8.000000,4000.000000,40.000000,4000.000000,664.100026,90000.000000,1.000000,1.000000

In [ ]:
import numpy as np

In [ ]:
Dmat = df.to_numpy()

In [ ]:
from scipy import stats

In [ ]:
Dmat.shape

(4395, 118)

In [ ]:
NCS = np.shape(Dmat)[0]

In [ ]:
NCS

4395

In [ ]:
numalt=8

In [ ]:
IDDEP = Dmat[:,[5,12]]

In [ ]:
IDDEP

array([[0, 0],
       [0, 0],
       [0, 1],
       ...,
       [0, 1],
       [0, 1],
       [0, 1]], dtype=object)

In [ ]:
alt1_x1 = Dmat[:,[2,2,2,2,2,2,2,2]]
at1 = np.transpose(alt1_x1)

In [ ]:
at1.shape

(8, 4395)

In [ ]:
alt2_x2 = Dmat[:,[2,3,2,2,2,2,2,2]]
at2 = np.transpose(alt2_x2)

alt3_x3 = Dmat[:,[2,2,3,2,2,2,2,2]]
at3 = np.transpose(alt3_x3)
alt4_x4 = Dmat[:,[2,2,2,3,2,2,2,2]]
at4 = np.transpose(alt4_x4)

alt5_x5 = Dmat[:,[2,2,2,2,3,2,2,2]]
at5 = np.transpose(alt5_x5)

alt6_x6 = Dmat[:,[2,2,2,2,2,3,2,2]]
at6 = np.transpose(alt6_x6)
alt7_x7 = Dmat[:,[2,2,2,2,2,2,3,2]]
at7 = np.transpose(alt7_x7)

alt8_x8 = Dmat[:,[2,2,2,2,2,2,2,3]]
at8 = np.transpose(alt8_x8)

In [ ]:
at8.shape

(8, 4395)

In [ ]:
alt_x=np.concatenate((at1,at2,at3,at4,at5,at6,at7,at8),axis=1)

In [ ]:
alt_x.shape

(8, 35160)

In [ ]:
nvar=np.shape(at1)[1]

In [ ]:
nvar

4395

In [ ]:
def function_name(beta):
 {
  p = matrix(0, nrow=NCS, ncol=1)                     ### create a vector for choice prob 
  v1 = matrix(0, NCS, numuoalt)                       ### matrix of utilities: size  NCS*numuoalt
  v1 = t(beta)%*% alt_x                               ### compute V = beta*X
  v1 =  matrix(v1, nrow = numuoalt, byrow = TRUE)     ### we need an NCS*1 row vector for each alternative
  v1 = numpy.transpose(v1)
  v1=numpy.exp(v1)                                          ### calculate exp(V)
  den = as.matrix(rowSums(v1))                        ### denominator of logit choice prob.
  vchoice = v1*IDDEP                                  ### deterministic comp. for chosen alt. only: numerator in logit choice prob.
  p = rowSums(vchoice)/den                            ### choice prob.
  logl = -sum(log(p))                                 ### calculate log-likelihood
  return(logl)
}

In [ ]:
beta = np.random.rand(8,8)
NCS = np.shape(Dmat)[0]
ncols = 1
p = np.zeros((NCS, ncols))
v1= np.zeros((NCS, ncols))
v1 = np.dot(beta, alt_x)
v1 = v1[:, 0:8]

In [ ]:
v1.shape

(8, 35160)

In [ ]:
pip install pylogit

Collecting pylogit
  Downloading pylogit-1.0.1-py3-none-any.whl (151 kB)
     |████████████████████████████████| 151 kB 8.2 MB/s
Requirement already satisfied: numpy>=1.10.2 in /usr/local/lib/python3.7/dist-packages (from pylogit) (1.21.5)
Requirement already satisfied: tqdm>=4.15.0 in /usr/local/lib/python3.7/dist-packages (from pylogit) (4.63.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.7/dist-packages (from pylogit) (0.10.2)
Requirement already satisfied: scipy>=0.16.1 in /usr/local/lib/python3.7/dist-packages (from pylogit) (1.4.1)
Requirement already satisfied: pandas>=0.16.2 in /usr/local/lib/python3.7/dist-packages (from pylogit) (1.3.5)
Requirement already satisfied: future>=0.16 in /usr/local/lib/python3.7/dist-packages (from pylogit) (0.16.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.16.2->pylogit) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.16.2->pylogit) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.16.2->pylogit) (1.15.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.6.1->pylogit) (0.5.2)
Installing collected packages: pylogit
Successfully installed pylogit-1.0.1

In [ ]:
import pylogit as pl